
.DataForm-container{
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 80%;
    max-height: 100%;
    background-color: transparent;
    opacity: 0.7;
    margin-left: 20vw;
    margin-top: 10vh;
    background-color: white;

    
}

.DataForm{
    padding-left: 10vw;
    background-color: transparent;
}